# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
!env/
!env/staging.tfvars
!env/production.tfvars
!env/*.tfvars.example
env/*.local.tfvars
env/*.secret.tfvars
env/*.secrets.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
